{% extends 'base_layout.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col col-md-8" style="border-right:1px solid black;">
            <h1>Log in</h1>
            <form class="site-form" action="{% url 'accounts:login' %}" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                {% if request.GET.next %}
                    <input type="hidden" name="next" value="{{ request.GET.next }}" />
                {% endif %}
                <div class="d-flex justify-content-center"><button type="submit" class="btn btn-success">Login</button></div>
            </form>
            <p>Not got an account? <a href="{% url 'accounts:signup' %}">Sign Up</a></p>
            <hr>
        </div>
        
        <div class="col-md-4">
          <div class="d-flex flex-column">
            <p class="text-left">Search Something:</p>
                <form method="GET" action= "{% url 'articles:search' %}" >
                    <div class="input-group mb-3">
                      <input type="" name="q" value="{{request.GET.q}}" class="form-control" placeholder="Type Something.." aria-label="Recipient's username" aria-describedby="basic-addon2">
                      <div class="input-group-append">
                        <button type="submit" class="btn btn-primary"><span class="fa fa-search"></span> Search</button>
                      </div>
                    </div>
                 </form>
            <p class="font-italic font-weight-bold">Follow me on social media:</p>
            <div>
              <a href="https://www.facebook.com/shishir.mishra.39395" ><i style="font-size:30px; margin-right: 20px;" class="fa">&#xf09a;</i></a>
              <a href="https://www.instagram.com/mishrashishir3/" ><i style="font-size:30px; margin-right: 20px; color:red;" class="fa">&#xf16d;</i></a>
            </div>
          </div>          
        </div>  
    </div>
</div>

{% endblock %}