{% extends 'base_layout.html' %}

{% block content %}

<div>
	<div class="description"></div>
	<h1>About The Website:</h1>
	<p>This Website is our first Web Development Project.</p>
	<p>It is developed using Django Framework for Backend</p><br><br>
	<h2>It has the following functionalities:</h2><br>
	<ul style="line-height: 1.4;"> 
		<li>Creating new Blogs along with Pictures</li>
		<li>Editing your Blog</li>
		<li>Deleteing Your Blog</li>
		<li>Compltetely Secure authentication system for Users</li>
		<li>Search Function</li>
	 </ul><br><br>
	 <h1>About The Developers:</h1><br>
	 <div class="flex-container">
	 	<div style="line-height: 1.4">
	 		<h2>Shishir Mishra</h2>
	 		<p>e-mail : shishir@iitg.ac.in</p>
	 		<p>EEE Dept, IIT Guwahati </p>
	 	</div>
	 	<div>
	 		<h2>Abhishek Kumar</h2>
	 		<p>e-mail : kumar18g@iitg.ac.in</p>
	 		<p>CSE Dept, IIT Guwahati </p> 		
	 	</div>
	 	
	 </div>
</div>






{% endblock %}