{% extends 'base_layout.html' %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col col-md-8" style="border-right:1px solid black;">	
			<form method="POST">
				{% csrf_token%}
				<h2>Are you sure you want to delete "{{article.title}}"? </h2>			
				<div class="d-flex justify-content-center" style="margin-top: 20px;"><button type="button" class="btn btn-danger">Confirm</button></div>
			</form>	
		</div>
		<div class="col-md-4">
          <div class="d-flex flex-column">
            <p class="text-left">Search Something:</p>
                <form method="GET" action= "{% url 'articles:search' %}" >
                    <div class="input-group mb-3">
                      <input type="" name="q" value="{{request.GET.q}}" class="form-control" placeholder="Type Something.." aria-label="Recipient's username" aria-describedby="basic-addon2">
                      <div class="input-group-append">
                        <button type="submit" class="btn btn-primary"><span class="fa fa-search"></span> Search</button>
                      </div>
                    </div>
                 </form>
            <p class="font-italic font-weight-bold">Follow me on social media:</p>
            <div>
              <a href="https://www.facebook.com/shishir.mishra.39395" ><i style="font-size:30px; margin-right: 20px;" class="fa">&#xf09a;</i></a>
              <a href="https://www.instagram.com/mishrashishir3/" ><i style="font-size:30px; margin-right: 20px; color:red;" class="fa">&#xf16d;</i></a>
            </div>
          </div>          
        </div>    
	</div>
</div>

{% endblock %}{% extends 'base_layout.html' %}

{% block title %}
	Delete {{article.title}}
{% endblock%}

{% block content %}
	<div class="create-article">
		<form method="POST">
			{% csrf_token%}
			<h2>Are you sure you want to delete : {{article.title}}? </h2>			
			<div><button class="delete-button">Delete</button></div>
		</form>
		

		
	</div>

{% endblock %}