{% extends 'base_layout.html' %}

{% block content %}
<div class="article-detail">
    <div class="article">
    	<img src=" {{article.thumb.url}} ">
    	<td><a href=" {% url 'articles:edit' slug=article.slug %} "><button  class="button-detail" type="submit">Edit</button></a> </td>
    	 <td><a href=" {% url 'articles:delete' slug=article.slug %} "><button   class="button-detail" type="submit">Delete</button></a></td>
        <h2>{{ article.title }}</h2>
        <p>{{ article.body }}</p>
        <p>{{ article.date }}</p>
    </div>
</div>
{% endblock %}