{% extends 'base_layout.html' %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="col col-md-8" style="border-right:1px solid black;">
            <div class="d-flex justify-content-center"><img src="{{article.thumb.url}}" class="img-fluid" alt="Responsive image"></div>            
                <div style="margin-top: 20px; margin-left: 10px; margin-bottom: 20px; margin-right: 5px;">
                <h2>{{ article.title }}</h2>
                <p class="font-weight-light">By: {{article.author}} </p>  
                <hr>
                <p class="font-weight-normal">{{ article.body }}</p>
                <hr>
                <p class="font-weight-normal">Published: {{ article.date }} </p>  
                
                </div>
            
            <hr>
            {% if request.user == article.author %}
            <div class="d-flex justify-content-around " style="margin-top: 20px; margin-bottom: 20px;">
                <a href=" {% url 'articles:edit' article.pk %} "><button type="button" class="btn btn-primary">Edit</button></a> 
                <a href=" {% url 'articles:delete' article.pk %} "><button type="button" class="btn btn-danger">Delete</button></a>
            </div>
            <hr>
            {% endif %}
         </div>

         <div class="col-md-4">
          <div class="d-flex flex-column">
            <p class="text-left">Search Something:</p>
                <form method="GET" action= "{% url 'articles:search' %}" >
                    <div class="input-group mb-3">
                      <input type="" name="q" value="{{request.GET.q}}" class="form-control" placeholder="Type Something.." aria-label="Recipient's username" aria-describedby="basic-addon2">
                      <div class="input-group-append">
                        <button type="submit" class="btn btn-primary"><span class="fa fa-search"></span> Search</button>
                      </div>
                    </div>
                 </form>
            <p class="font-italic font-weight-bold">Follow me on social media:</p>
            <div>
              <a href="https://www.facebook.com/shishir.mishra.39395" ><i style="font-size:30px; margin-right: 20px;" class="fa">&#xf09a;</i></a>
              <a href="https://www.instagram.com/mishrashishir3/" ><i style="font-size:30px; margin-right: 20px; color:red;" class="fa">&#xf16d;</i></a>
            </div>
          </div>          
        </div>    



     </div>
</div>
{% endblock %}