{% extends 'base_layout.html' %}
{% block content%}
<form class="new-form" method="GET" action= "{% url 'articles:search' %}" >
	<input type="" name="q" value="{{request.GET.q}}" placeholder="Search..." >
	<button class="button" type="submit">
		Search
	</button>
</form>
	<h1>Articles List</h1>
	<div class="articles">
		{% for article in articles %}
		<div class="article">
			<h2><a href="{% url 'articles:detail' slug=article.slug %}">{{article.title}}</a></h2>
				<p>{{article.snippet}}</p>
				<p>{{article.date}}</p>
				<p class="author">Added By: {{article.author.username}} </p>
		</div>
	 {% endfor %}		
	</div>
	{% endblock %}
