{% extends 'base_layout.html' %}

{% block content %}
<div class="article-detail">
    <div class="article">
    	<img src=" {{article.thumb.url}} ">
    	{% if request.user == article.author %}
    	<div class="detail-buttons">
    		<a href=" {% url 'articles:edit' article.pk %} " class="highlight-button">Edit</a> 
    		<a href=" {% url 'articles:delete' article.pk %} " class="highlight-button">Delete</a>
    	</div>
    	{% endif %}
        <h2>{{ article.title }}</h2>
        <div class="paragraph">
        <p>{{ article.body }}</p>
        <p> By: {{article.author}} </p>
        <p>{{ article.date }}</p>
        </div>
    </div>
</div>
{% endblock %}